body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

/* Library Container */
.library-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Add Song Button */
#addPlaylist,
#removePlaylist {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--sidebar-bg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 20px;
  transition: 0.3s;
  align-items: center;
}

#addPlaylist:hover,
#removePlaylist:hover {
  background-color: var(--sidebar-bg);
}

/* Playlist Grid */
.playlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 750px;
  margin: auto;
}

/* Playlist Box */
.playlist {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  cursor: pointer;
}

.playlist:hover {
  transform: scale(1.05);
}

.playlist img {
  width: 150px; /* ✅ Set a fixed width */
  height: 150px; /* ✅ Set a fixed height */
  object-fit: cover; /* ✅ Ensures the image fills the space without distortion */
  border-radius: 10px; /* Optional: Rounded corners */
}

.playlist h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.playlist p {
  color: gray;
  font-size: 14px;
}

/* Ensure dynamic playlists are properly displayed */
#playlistContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 750px;
  margin: auto;
}

.delete-mode .playlist {
  opacity: 0.7;
  cursor: pointer;
  border: 2px solid red;
}
.delete-mode .playlist:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

/* General Popup Styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

/* Popup Text */
.popup p {
  margin: 0 0 10px;
}

/* Popup Buttons */
.popup button {
  padding: 5px 10px;
  border: none;
  background: var(--sidebar-bg);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.popup button:hover {
  background: var(--sidebar-bg);
}

/* Cancel Buttons */
#cancelDelete,
#cancelConfirmDelete {
  background: var(--sidebar-bg);
}

#cancelDelete:hover,
#cancelConfirmDelete:hover {
  background: var(--sidebar-bg);
}

/* ------------------------------------- Sidebar --------------------------------------------- */

/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(#f1f3ff, #cbd4ff); */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 85px;
  height: 100vh;
  background: var(--sidebar-bg);
  transition: all 0.4s ease;
}

.sidebar.collapsed {
  width: 85px;
}

.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: center;
}

.sidebar-header .header-logo img {
  width: 75px;
  height: 75px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
  margin: 0 auto;
}

.sidebar-header .sidebar-toggler,
.sidebar-menu-button {
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  color: #151a2d;
  border: none;
  cursor: pointer;
  display: flex;
  background: #eef2ff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .sidebar-toggler span,
.sidebar-menu-button span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}

.sidebar-header .sidebar-toggler:hover {
  background: #d9e1fd;
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar .sidebar-nav .primary-nav {
  overflow-y: auto;
  scrollbar-width: thin;
  padding-bottom: 20px;
  height: calc(100vh - 227px);
  scrollbar-color: transparent transparent;
}

.sidebar .sidebar-nav .primary-nav:hover {
  scrollbar-color: #eef2ff transparent;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  overflow: unset;
  transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 11px 15px;
  align-items: center;
  text-decoration: none;
  border: 1.5px solid #fff;
  transition: 0.4s ease;
}

.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.dropdown-title) {
  color: var(--sidebar-bg);
  background: #eef2ff;
}

.sidebar .nav-link .nav-label {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon) {
  opacity: 0;
  pointer-events: none;
}

.sidebar.collapsed .nav-link .dropdown-icon {
  transition: opacity 0.3s 0s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 35px;
  width: 100%;
  background: #151a2d;
}

.sidebar-nav .nav-item {
  position: relative;
}

/* Dropdown Stylings */
.sidebar-nav .dropdown-container .dropdown-icon {
  margin: 0 -4px 0 auto;
  transition: transform 0.4s ease, opacity 0.3s 0.2s ease;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
  transform: rotate(180deg);
}

.sidebar-nav .dropdown-menu {
  height: 0;
  overflow-y: hidden;
  list-style: none;
  padding-left: 15px;
  transition: height 0.4s ease;
}

.sidebar.collapsed .dropdown-menu {
  position: absolute;
  top: -10px;
  left: 100%;
  opacity: 0;
  height: auto !important;
  padding-right: 10px;
  overflow-y: unset;
  pointer-events: none;
  border-radius: 0 10px 10px 0;
  background: #151a2d;
  transition: 0s;
}

.sidebar.collapsed .dropdown-menu:has(.dropdown-link) {
  padding: 7px 10px 7px 24px;
}

.sidebar.sidebar.collapsed .nav-item:hover > .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(12px);
  transition: all 0.4s ease;
}

.sidebar.sidebar.collapsed
  .nav-item:hover
  > .dropdown-menu:has(.dropdown-link) {
  transform: translateY(10px);
}

.dropdown-menu .nav-item .nav-link {
  color: #f1f4ff;
  padding: 9px 15px;
}

.sidebar.collapsed .dropdown-menu .nav-link {
  padding: 7px 15px;
}

.dropdown-menu .nav-item .nav-link.dropdown-title {
  display: none;
  color: #fff;
  padding: 9px 15px;
}

.dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title {
  font-weight: 500;
  padding: 7px 15px;
}

.sidebar.collapsed .dropdown-menu .nav-item .dropdown-title {
  display: block;
}

.sidebar-menu-button {
  display: none;
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .sidebar-menu-button {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 42px;
    display: flex;
    color: #f1f4ff;
    background: #151a2d;
  }

  .sidebar.collapsed {
    width: 270px;
    left: -270px;
  }

  .sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: none;
  }

  .sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(15px);
  }
}
